
ul {
    -webkit-column-count: 2;
    -moz-column-count: 2;
    column-count: 2;
    list-style-type: none;
    background-color: #d3d3d3;
    width: 90%;
    max-width: 35rem;
    border-radius: 20px;
    margin: 2rem auto;
    padding: 1px;
}

ul li{
    text-align: center;
    width: 100%;
    font-size: 2rem;
    padding: 2rem 1rem;
}

ul a:hover, ul a:active {
    color: #eca8b5;
}

h1 {
    color: #2f4f4f;
    text-align: center;
    font_family: "Andale Mono", AndaleMono, monospace;
    font-size: 36px;
    text-decoration: underline;
}